body
{
background-size:cover ;
}
.heading{
    font-size: 25px;
    width: 100%;
}
.heading h3{
    display: inline;
}
.heading button{
    border: 5px solid black;
}
.btn-warning{
    font-size: 25px;
    border: 10px solid black;
}
h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instrucion_image{
    display: inline-block;
    width: 45%;
}
#Reiniciar{
    font-size: 25px;
    border: 10px solid black;
}